*.pyc
*.pyproj
*__pycache__*
autoedit.py
autopep_all.cmd
/lib/SimpleTAL.egg-info
/env*
*.sln
/TestResults
.eggs/
lib/SimpleTALSix.egg-info/
dist/
.coverage
docs/build/
docs/[Mm]ake*
build.bat
upload.bat
build/