# Configuration file for SimpleTAL Documentation
#
# If SiteConfig is used it must be the first entry in the config file.
# 
# Use ignore-filter to specify regular expressions for files that should not be treated
# as content (examples shown here are files in CVS directories and backup files)
<SiteConfig>
content-dir src
dest-dir html
template-dir templates
ignore-filter .*\.svn.*
ignore-filter .*~$
</SiteConfig>
